html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: sans-serif;
}

li {
	margin-bottom: 6px;
}

.content {
	display: inline-block;
	width: 50%;
	min-width: 600px;
}

p span {
	font-weight: bold;
}

.devnotes {
	display: inline-block;
	padding: 1em;
	margin: 1em 0;
	border: 1px solid #454545;
	background-color: #eeeeee;
}